<footer class ="footer py-3 mt-auto" style="background-color: rgba(25, 160, 218, 0.7); font-family: Century Gothic;">
    <div class="container">
        <span class="text-muted"> <center> <font color ="black"><b>&copy; FILIPINO WANDERLUST LISTINGS 2022 </span>

    </div>

</footer>