<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: rgba(255, 255, 255, 0.5); font-family: Century Gothic;">

  
    <div class="container-fluid">
      
      <a class="navbar-brand" href="/listings"><b> FILIPINO WANDERLUST </b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          
          <a class="nav-link" href="/listings"><b>Home</b></a>
          <a class="nav-link" href="/listings/new"><b>Add Listing</b></a>
          <a class="nav-link" href="/listings"><b>Listings</b></a>
          
        </div>
      </div>
    </div>
  </nav>


