<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Filipino Wanderlust Listings</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    


</head>

<body class="d-flex flex-column vh-100" id ="bg" style="background-image: url('https://scontent.fmnl5-2.fna.fbcdn.net/v/t1.15752-9/379632616_171451009269997_482496237902693681_n.png?_nc_cat=105&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeEz50KoAPvpG72R-MtW-llJyMo1QNoNvyTIyjVA2g2_JF5kBL4B7tlB_dG-Y-RVFmL9NV1lpsa4Azzqs72NRbEE&_nc_ohc=rpcDUnlxcdMAX8wUB0B&_nc_ht=scontent.fmnl5-2.fna&oh=03_AdRSHdbeOn4j0JGZKSbvaDMtaa262zvj_gHzWRL_CSWS8w&oe=65311B44'); background-size: 100%; background-repeat: no-repeat; ">
  
    <font face ="Century Gothic">

    <%- include('../partials/navbar') %>
    



    <main class="container mt-5">
        <%- body %>
    </main>
    
    <%- include('../partials/footer') %>

 

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

    </font>

   

</body>

</html>